body {
    font-size: .875rem;
  }

  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  .term-title {
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: 2;
}

.w-70 {
  width: 60% !important
}

.bg-danger {
  background-color: #dc3545!important;
}

.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: .3rem;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .w-xs-100 {
      width: 100% !important;
    }
  }
  
  /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .w-sm-100 {
      width: 100% !important;
    }
  }

  .badge.custom-badge {
    font-size: 1.1em;
    cursor: pointer;
  }

  a:hover, a:active, a:link {
    text-decoration: none;
  }

  p, ul {
    font-size: 19px;
  }

pre {
	background-color: #eee;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: auto;
}
code {
	background-color: #eee;
	padding: 1px 3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
}

.text-capitalize {
  text-transform: uppercase;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.card {
  border: none !important;
}